<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/static/js/jquery.1.9.1.js"></script>
    <link rel="stylesheet" href="/static/js/bootstrap.min.js" type="text/css"/>
</head>
<body>
<div th:fragment="header">
    <h1>Thymeleaf in action</h1>
    <a href="/users">首页</a>
</div>
<nav class="navbar navbar-inverse bg-inverse ">
    <div class="container">
        <button></button>
        <a class="navbar-brand" href="/" th:href="@{~/}">HaoBlog</a>
        <div></div>

    </div>
</nav>
</body>
</html>