<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/static/js/jquery.1.9.1.js"></script>
    <link rel="stylesheet" href="/static/js/bootstrap.min.js" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3 th:text="${title}"></h3>
<div>
    <a href="/users/form">创建用户</a>
</div>
<table class="table table-bordered">

    <tr>
        <td>ID</td>
        <td>Email</td>
        <td>Name</td>
    </tr>


    <tr th:if="${userList.size()} eq 0">
        <td colspan="3">没有用户信息</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td><a href="view.html" th:href="@{'/users/'+${user.id}}" th:text="${user.id}"></a></td>
    </tr>

</table>
<div th:replace="fragments/footer :: footer"></div>


</body>
</html>