<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/static/js/jquery.1.9.1.js"></script>
    <link rel="stylesheet" href="/static/js/bootstrap.min.js" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3 th:text="${title}"></h3>
<div>
    <p><strong>ID:</strong></p><span th:text="${user.id}"></span>
    <p><strong>Name</strong></p><span th:text="${user.name}"></span>
    <p><strong>Email</strong></p><span th:text="${user.email}"></span>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>